@charset "UTF-8";
/* CSS GLOBAL Document */

// Variables Sass
$colorFont: rgb(119, 119, 119);
$colorLogo: rgb(255, 139, 43);
$colorHover: rgb(239, 125, 99);

/* La règle @ @font-face permet de définir la police d'écriture "Montserrat-Regular" à utiliser 
pour afficher le texte des pages web */
@font-face {
	font-family: "Montserrat-Regular";
	src: url("../../fonts/Montserrat-Regular/Montserrat-Regular.eot"); /* IE9 Compat Modes */
	src: url("../../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../../fonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"), /* Open Type Font */
		url("../../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"), /* Legacy iOS */
		url("../../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Raleway-Regular";
	src: url("../../fonts/Raleway-Regular/Raleway-Regular.eot"); /* IE9 Compat Modes */
	src: url("../../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../../fonts/Raleway-Regular/Raleway-Regular.otf") format("opentype"), /* Open Type Font */
		url("../../fonts/Raleway-Regular/Raleway-Regular.svg") format("svg"), /* Legacy iOS */
		url("../../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), /* Modern Browsers */
		url("../../fonts/Raleway-Regular/Raleway-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
	/* Position */
	/* Affichage */
	margin: 0 auto;
	/* Texte */
    font-size: 62.5%;
    /* Décoration */
}

body {
	font-family: "Montserrat-Regular", sans-serif;
	font-size: 1.5rem;

	color: $colorFont;
	background-color: rgb(255, 255, 255);
}

/* PAGE INDEX.PHTML */
/* HEADER */
header .logo {
	text-align: center;
	
	a img {
		max-width: 35rem;
	}
}

/* MAIN CONTENT */
.containerLogin {
	min-height: 60.6rem;
	max-width: 50rem;
	margin: 0 auto 3rem;

	h3 {
		font-weight: 100;
		text-align: initial;

		color: $colorFont;

		i {
			display: inline-block;
			height: 4rem;
			width: 4rem;
			margin-right: 1rem;
			line-height: 4.1rem;

			text-align: center;

			color: #ffffff;
			background-color: $colorLogo;
		}
	}

	form {
		margin: -0.5rem 0 10rem;
		padding: 1.2rem 0.5rem 1.4rem;

		text-align: center;

		border: 1px solid #d2d2d2;
		border-radius: 2px;

		ul {
			padding: 0;

			list-style: none;

			li {
				position: relative;

				margin: 0 auto 1.3rem;

				color: rgb(255, 0, 0);

				input {
					height: 3rem;
					width: 30.1rem;
					margin: 1rem 0 2rem;
					padding-left: 0.5rem;

					color: $colorFont;
					border-radius: 2px;
					border: 1px solid #d2d2d2;
				}

				input::placeholder {
					font-style: italic;
				}

				.password + .changeType {
					position: absolute;
					top: 1.4rem;
					right: 9.75rem;

					height: 2.2rem;
					width: 3.2rem;

					text-indent: -999rem;

					background-color: #C0C0C0;
					border-radius: 50%;
					cursor: pointer;
					border: none;
					-webkit-appearance: none;
				}

				.password + .changeType:before {
					position: absolute;
					top: 0.4rem;
					left: 0.95rem;

					width: 1.4rem;
					height: 1.4rem;
					z-index: 1;

					content: "";
					background-color: #e3e3e3;
					border-radius: 50%;
				}

				.password[type="text"] + .changeType:after {
					position: absolute;
					top: 0.6rem;
					left: 1.15rem;

					width: 1rem;
					height: 1rem;
					z-index: 2;

					content: "";
					background-color: #C0C0C0;
					border-radius: 50%;
				}

				.g-recaptcha {
					display: inline-block;
					margin: 1rem 0 1.4rem;
				}
			}
		}

		.btnLogin {
			display: block;
		    height: 2.8rem;
		    margin: 1.6rem auto 2rem;
		    padding: 0 1.5rem;
		    line-height: 2.6rem;

		    font-size: 1.2rem;
		    text-transform: uppercase;

			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;
		}

		.btnLogin:hover {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}

		div p {
			margin: 0 auto 1.3rem;

			color: rgb(255, 0, 0);
		}
	}
}

/* FOOTER */
footer {
	padding-bottom: 0.9rem;
	line-height: 1rem;

	font-family: "Raleway-Regular", sans-serif;
	font-size: 1.5rem;
	text-align: center;

	color: $colorFont;
	background-color: rgb(240, 241, 244);

	.mentionsLegales {
		padding-top: 1rem;

		p {
			a {
				text-decoration: none;
				
				color: $colorLogo;
			}

			a:hover {
				text-decoration: underline;
				text-underline-offset: 0.2rem;
			}
		}
	}
}

/* PAGE-INTROUVABLE.HTML */
/* BREADCRUMB */
.filAriane {
	padding: 0.5rem 1.5rem 3rem;
	margin: 0 auto 3.3rem;

	font-size: 1.2rem;
	font-weight: 100;
	
	color: $colorFont;
	background-color: rgb(250, 250, 250);

	ul {
		max-width: 120rem;
		margin-left: auto;
		margin-right: auto;

		li {
		    float: left;
		    position: relative;

		    margin-right: 2.4rem;

			list-style: none;

			a {
				color: $colorFont;
				text-decoration: none;
			}

			.home::before {
				padding-right: 0.5rem;

				font-family: "FontAwesome";
				font-size: 1.3rem;

				content: "\F015";
			}
		}

		.titreFil600, .titreFil300 {
			display: none;
		}
	}

	ul li a::after {
		position: absolute;
		right: -1.5rem;

	    color: #333;

	    content: "/";
	}

	ul li a:hover {
		color: $colorHover;
	}
}

/* MAIN CONTENT */
.containerErreur404 {
	min-height: 46.5rem;
	max-width: 115rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	div:first-child {
		padding: 10.705rem 0 9.9rem;

		text-align: center;

		img {
			max-height: 15rem;
			vertical-align: middle;
		}

		h2 {
			font-size: 2.5rem;
			font-weight: 400;
		}
	}
}

/* PAGE LAYOUT.PHTML */
/* TOPBAR */
.topBar {
    position: relative;

	height: 4.4rem;
	margin: 0 auto;
    z-index: 100;

	color: rgb(250, 250, 250);
	background-color: $colorLogo;
    border-top: 1px solid $colorLogo;

	.topbarContenu {
	    display: flex;
		justify-content: center;
		max-width: 115rem;
		margin: 0 auto;

		font-size: 1.3rem;

		.logo {
			display: flex;
			align-items: center;
			flex-grow: 1.1;

		 	a {
				text-decoration: none;

				color: rgb(250, 250, 250);

				h2 {
					margin-top: 0.75rem;

					font-size: 1.9em;
					font-weight: 600;
		 			text-align: center;
					text-transform: uppercase;
				}
			}
		}

		.recherche {
			flex-grow: 1;

			margin-top: 0.85rem;

			form {
				input {
					height: 2.5rem;
					width: 18rem;

					border-radius: 2px 0 0 2px;
					border: 1px solid $colorFont;
				}

				button {
					height: 2.5rem;
					margin-left: -0.42rem;

					background-color: rgb(239, 239, 239);
					border-radius: 0 2px 2px 0;
					border: 1px solid $colorFont;
					cursor: pointer;

					.fa-search {
						color: $colorLogo;
					}
				}
			}
		}

		.displayAdmin {
			flex-grow: 0;

			ul {
				padding: 0;

				li {
					display: inline-block;

					list-style: none;
				}

				li:first-child + li {
					margin: 0 0.3rem;
				}

			 	a {
			 		font-weight: 100;
					text-decoration: none;

					color: rgb(250, 250, 250);
					transition-duration: 0.2s;

					span::after {
						padding-left: 0.8rem;

						font-family: "FontAwesome";
						font-size: 1.3rem;

						content: "\F08B";
					}
				}
			}

			ul a:hover  {
				color: rgb(119, 119, 119);
			}
		}
	}
}

/* HEADER */
.headerLayout {
	position: sticky;
	top: 0;

	z-index: 99;

	nav > ul > li {
		display: inline-block;
	}

	nav > ul > li:focus-within > a {
		color: rgb(250, 250, 250);
		background-color: rgb(255, 180, 0);
	}

	nav {
		background-color: rgb(255, 255, 255);
		border-bottom: 4px solid $colorLogo;

		ul {
			margin: 0;
			padding: 0;

		    text-align: center;

			list-style: none;

			li {
				margin: 0 -0.2rem;

				a {
					display: inline-block;
					padding: 2rem 3.2rem;

					font-weight: bold;
					text-decoration: none;

					color: rgb(119, 119, 119);
					transition: all ease-in-out 0.2s;
					-webkit-transition: all ease-in-out 0.2s;
				}

				.menu {
					position: absolute;
					left: 0;
				    right: 0;
				    padding-bottom: 3rem;

					background: $colorLogo;
					opacity: 0;
					visibility: hidden;
					transition: all ease-in-out 0.2s;
					-webkit-transition: all ease-in-out 0.2s;

					.sousMenu {
						display: inline-block;
						width: 19%;
						padding: 0 0.5rem;
					    vertical-align: top;

						h2 {
							margin: 0 0 -0.3rem;
							padding: 3rem 0 1.5rem;

							font-size: 1.6rem;
							text-transform: uppercase;

							color: rgb(250, 250, 250);
						}

						br + ul {
							margin-top: 1rem;
						}

						ul li a {
							padding: 0;
							line-height: 2.5rem;

							text-decoration: none;

							color: rgb(250, 250, 250);
							transition-duration: 0.2s;

							i {
								padding-right: 0.8rem;
								vertical-align: 0.07rem;

								font-size: 1.3rem;
							}
						}

						ul li a:hover {
							color: rgb(119, 119, 119);
						}
					}

					.singleMenu ul li:first-child {
						padding-top: 3rem;
					}
				}
			}
		}

		ul li:focus-within {
			.menu {
				opacity: 1;
				visibility: visible;
			}
		}

		ul li:hover {
			a {
				color: rgb(250, 250, 250);
				background-color: $colorLogo;
			}

			.menu {
    			z-index: 1;

				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/* Cookie Consent */
.cookieConsent {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    min-height: 2.6rem;
    padding: 0.8rem 0 0.8rem 3rem;
    line-height: 2.6rem;
    z-index: 99;

    font-family: "Trebuchet MS", Helvetica, sans-serif;

    color: rgb(250, 250, 250);
    background-color: rgba(255, 139, 43, 0.8);

	.closeCookieConsent {
	    float: right;

	    display: inline-block;
	    height: 2rem;
	    width: 2rem;
	    margin: -1.2rem -0.5rem 0 0;

	    font-weight: bold;

		transition-duration: 0.2s;
	    cursor: pointer;
	}

	.closeCookieConsent:hover {
	    color: rgb(255, 0, 0);
	}

	div a {
	    color: rgb(250, 250, 250);
	}

	div a:hover {
		text-decoration: none;
	}

	.cookieConsentOK {
	    float: right;

	    display: inline-block;
	    margin: 0 6rem 0 1rem;
	    padding: 0 2rem;

	    color: $colorLogo;
	    background-color: rgb(250, 250, 250);
	    border-radius: 0.5rem;

		transition-duration: 0.2s;
	    cursor: pointer;
	}

	.cookieConsentOK:hover {
	    color: rgb(60, 160, 55);
	}
}

/* PAGE TABLEAU-DE-BORD.PHTML */
/* MAIN CONTENT */
.containerDashboard {
	display: grid;
	grid-template-rows: 14rem 11rem 11rem;
	grid-template-columns: auto;
	grid-gap: 1em;
	min-height: 68.3rem;
	max-width: 115rem;
	margin: 3rem auto 4rem;
	line-height: 2rem;

	h2 {
		grid-area: 1 / 1 / 1 / 4;
	    margin-top: 4.5rem;
	
		font-size: 2.5rem;

		i {
			display: inline-block;
			height: 4rem;
			width: 4rem;
			margin-right: 0.5rem;
			line-height: 4.1rem;

			text-align: center;

			color: $colorLogo;
		}
	}

	.dashboardBox1, .dashboardBox2, .dashboardBox3, .dashboardBox4, .dashboardBox5, .dashboardBox6 {
		background-color: $colorLogo;
		border: 1px solid #d2d2d2;
		border-radius: 3px;

		a {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: auto;

			text-decoration: none;

			.dashboardIcons {
				grid-row-start: 1;
				grid-column-start: 1;
				grid-row-end: 1;
				grid-column-end: 1;
				margin: 3.5rem auto 0;
				padding-left: 1rem;

				i {
					font-size: 4rem;

					color: rgb(250, 250, 250);
				}
			}

			.dashboardInfos {
				grid-row-start: 1;
				grid-column-start: 2;
				grid-row-end: 1;
				grid-column-end: 2;
				margin: 1.2rem auto 0;
				padding: 0 1.2rem 1rem 2rem;
				line-height: 1.5rem;

				text-align: center;

				color: rgb(250, 250, 250);

				h4 {
					margin-bottom: 1.5rem;
				}

				strong {
					font-size: 1.8rem;
				}
			}
		}
	}

	.dashboardBox1, .dashboardBox2, .dashboardBox5, .dashboardBox6 {
		grid-area: 2 / auto / 2 / auto;
	}

	.dashboardBox3 {
		grid-area: 3 / 2 / 3 / 2;
	}

	.dashboardBox4 {
		grid-area: 3 / 3 / 3 / 3;
	}
}

/* PAGE CATEGORIES.PHTML */
/* MAIN CONTENT */
.containerCats {
	min-height: 64.3rem;
	max-width: 69rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	text-align: center;

	h3:first-child {
		margin: 0 0 5rem -1rem;

		font-weight: 100;

		color: $colorFont;

		i {
			height: 4rem;
			width: 4rem;
			line-height: 4.1rem;

			color: $colorLogo;
		}
	}

	h3 + h3 {
		float: right;

		margin: -0.8rem 1rem 0 0;

		font-weight: 100;
		text-align: initial;

		a {
			padding: 1rem 1.4rem 1rem 0;

			font-size: 1.3rem;
			text-decoration: none;

			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;

			i {
				height: 4rem;
				width: 4rem;
				margin-right: -0.5rem;
				line-height: 4.1rem;

				text-align: center;
			}
		}
	}

	h3 + h3:hover {
		a {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}
	}

	.formLines {
		margin-bottom: 3rem;

		text-align: initial;
	}

	form + div {
		margin-bottom: 3rem;
	}

	.navigation {
		margin: -1rem 0 3rem;

		.pageSuiv {
			float: right;
		}

		.pagePrec {
			float: left;
		}

		.liensPages {
			margin: 0.2rem;

			a {
				padding: 0.2rem 0.7rem 0.1rem;
			}
		}

		a {
			text-decoration: none;

			color: $colorFont;
			transition-duration: 0.1s;
		}

		a:hover {
			color: $colorHover;
		}
	}

	.tableScroll {
		position: relative;
		top: -1rem;

		margin-bottom: 2rem;
		overflow-x: auto;
	}

	.tableScroll + .navigation {
		margin: -1rem 0 3rem;
	}

	table {
		min-width: 68rem;

		border-collapse: collapse;

		tr th {
			padding: 2rem;

			font-weight: 1000;

			color: $colorFont;
			border: 1px solid #cccccc;

			form {
				.btnTri {
					background: none;
					border: none;
					cursor: pointer;

					span {
						padding-right: 2rem
					}

					.fa {
						display: initial;

						font-size: 1.3rem;

						transition-duration: 0.15s;
					}

					.fa-long-arrow-down {
						margin-right: 0.2rem;
					}
				}

				.btnTri:hover .fa {
					color: $colorHover;
				}
			}
		}

		tr {
			td > i {
				white-space: nowrap;

				color: $colorHover;
			}

			td {
				padding: 2rem;

				border-bottom: 1px solid #cccccc;
				border-left: 1px solid #cccccc;
			}
		}

		tr td:last-child {
			display: flex;
			justify-content: space-around;

			border-right: 1px solid #cccccc;

			.btnModif {
				display: block;
				height: 3rem;
				width: 10.8rem;
				padding: 0.9rem 1rem 0;

				font-size: 1.1rem;
				text-transform: uppercase;
				text-decoration: none;
				
				color: #ffffff;
				background-color: #C0C0C0;
				border: none;
				border-radius: 3px;
				transition-duration: 0.2s;

				i {
					margin-right: 0.5rem;
				}
			}

			.btnModif:hover {
				color: #ffffff;
			    background-color: $colorHover;
			    cursor: pointer;
			}

			.btnReset {
				height: 3rem;
				width: 10.8rem;
				padding: 0.1rem 1rem 0;

				font-size: 1.1rem;
				text-transform: uppercase;
				
				color: #ffffff;
				background-color: #C0C0C0;
				border: none;
				border-radius: 3px;
				transition-duration: 0.2s;

				i {
					margin-right: 0.5rem;
				}
			}

			.btnReset:hover {
				color: #ffffff;
			    background-color: rgb(255, 0, 0);
			    cursor: pointer;
			}
		}
	}
}

/* PAGES AJOUTCAT.PHTML ET MODIFCAT.PHTML */
/* MAIN CONTENT */
.containerAjoutCat, .containerModifCat {
	min-height: 64.3rem;
	max-width: 50rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	h3 {
		margin: 0 0 4rem -1rem;

		font-weight: 100;
		text-align: center;

		color: $colorFont;

		i {
			height: 0;
			width: 4rem;

			color: $colorLogo;
		}
	}

	form {
		margin: -0.5rem 0 3.05rem;
		padding: 2.5rem 1rem 0.5rem;
		line-height: 1.5rem;

		font-weight: 100;
		text-align: center;

		color: $colorFont;
		border: 1px solid #d2d2d2;
		border-radius: 2px;

		div {
			position: relative;

			padding: 0.5rem 0;

			label {
				display: block;
				margin-left: 12.5rem;

				text-align: left;
			}

			input {
				height: 3rem;
				width: 22rem;
				margin: 0.8rem 0 2rem;
				padding-left: 0.5rem;

				color: $colorFont;
				border-radius: 2px;
				border: 1px solid #d2d2d2;
			}

			p {
				margin: 0 0 1.5rem;

				color: rgb(255, 0, 0);
			}
		}

		.btn {
			display: block;
			height: 3.2rem;
			margin: 0.5rem auto 2.5rem;
			padding: 1rem 1.5rem;

			font-size: 1.1rem;
			text-transform: uppercase;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;
		}

		.btn:hover {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}

		.msg p {
			margin: -1rem 0 1.8rem;

			color: rgb(255, 0, 0);
		}
	}

	.formReset {
		margin: -0.5rem 0 -1rem;
		padding: 0;

		border: none;

		.btnReset {
			height: 3.2rem;
			margin: 0 auto 1.5rem;
			padding: 1rem;

			font-size: 1.1rem;
			text-transform: uppercase;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;

			i {
				margin-right: 0.5rem;
			}
		}

		.btnReset:hover {
			color: #ffffff;
		    background-color: rgb(255, 0, 0);
		    cursor: pointer;
		}

		div p {
			margin: 0 0 -0.6rem;

			color: rgb(255, 0, 0);
		}
	}
}

/* PAGES SLIDER.PHTML, IMAGES.PHTML, ACHATS-MAGASIN.PHTML, VENTES.PHTML, ADMINISTRATEURS.PHTML, 
COMMANDES-CLIENTS.PHTML, RECHERCHES.PHTML ET PARTENAIRES.PHTML */
/* MAIN CONTENT */
.containerListe {
	min-height: 56.5rem;
	max-width: 114rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	text-align: center;

	h3:first-child {
		margin: 0 0 5rem -1rem;

		font-weight: 100;

		color: $colorFont;

		i {
			height: 4rem;
			width: 4rem;
			line-height: 4.1rem;

			color: $colorLogo;
		}
	}

	h3 + h3 {
		float: right;

		margin: -0.8rem 1rem 0 0;

		font-weight: 100;
		text-align: initial;

		a {
			padding: 1rem 1.4rem 1rem 0;

			font-size: 1.3rem;
			text-decoration: none;

			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;

			i {
				height: 4rem;
				width: 4rem;
				margin-right: -0.5rem;
				line-height: 4.1rem;

				text-align: center;
			}
		}
	}

	h3 + h3:hover {
		a {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}
	}

	h3 + div {
		margin-bottom: 1.5rem;

		text-align: initial;
	}

	.formProds {
		margin-bottom: 1rem;

		text-align: initial;

		select {
			max-width: 15rem;

			option:first-child + option {
				font-style: italic;

				color: $colorHover;
			}
		}
	}

	.formLines {
		margin-bottom: 3rem;

		text-align: initial;
	}

	form + div {
		margin-bottom: 3rem;
	}

	.navigation {
		margin: -1rem 0 3rem;

		.pageSuiv {
			float: right;
		}

		.pagePrec {
			float: left;
		}

		.liensPages {
			margin: 0.2rem;

			a {
				padding: 0.2rem 0.7rem 0.1rem;
			}
		}

		a {
			text-decoration: none;

			color: $colorFont;
			transition-duration: 0.1s;
		}

		a:hover {
			color: $colorHover;
		}
	}

	.tableScroll {
		position: relative;
		top: -1rem;

		margin-bottom: 2rem;
		overflow-x: auto;
	}

	.tableScroll + .navigation {
		margin: -1rem 0 3rem;
	}

	table {
		min-width: 113rem;

		border-collapse: collapse;

		tr th {
			padding: 2rem 1rem;
			white-space: nowrap;

			font-weight: 1000;

			color: $colorFont;
			border: 1px solid #cccccc;

			form {
				.btnTri {
					background: none;
					border: none;
					cursor: pointer;

					span {
						padding-right: 1.2rem
					}

					.tblHeader300600 {
						display: none;
					}

					.fa {
						display: initial;

						font-size: 1.3rem;

						transition-duration: 0.15s;
					}

					.fa-long-arrow-down {
						margin-right: 0.2rem;
					}
				}

				.btnTri:hover .fa {
					color: $colorHover;
				}
			}
		}

		tr {
			td > i {
				white-space: nowrap;

				color: $colorHover;
			}

			td {
				padding: 2rem 1rem 1.7rem;

				border: 1px solid #cccccc;

				a {
					overflow-wrap: anywhere;

					text-decoration: none;

					color: $colorFont;
					transition-duration: 0.1s;

					img {
						max-height: 22rem;
						max-width: 22rem;
					}

					span {
						white-space: initial;
					}
				}

				a:hover {
					color: $colorHover;
				}

				.btnModif, .btnDetails {
					display: block;
					height: 3rem;
					width: 10.8rem;
					margin: 0 auto;
					padding: 0.9rem 1rem 0;

					font-size: 1.1rem;
					text-transform: uppercase;
					text-decoration: none;
					
					color: #ffffff;
					background-color: #C0C0C0;
					border: none;
					border-radius: 3px;
					transition-duration: 0.2s;

					i {
						margin-right: 0.5rem;
					}
				}

				.btnModif:hover, .btnDetails:hover {
					color: #ffffff;
				    background-color: $colorHover;
				    cursor: pointer;
				}

				.displayForm {
					margin-bottom: -3.2rem;
					padding-top: initial;
				}

				.btnReset {
					height: 3rem;
					width: 10.8rem;
					margin-top: 2rem;
					padding: 0.1rem 1rem 0;

					font-size: 1.1rem;
					text-transform: uppercase;
					
					color: #ffffff;
					background-color: #C0C0C0;
					border: none;
					border-radius: 3px;
					transition-duration: 0.2s;

					i {
						margin-right: 0.5rem;
					}
				}

				.btnReset:hover {
					color: #ffffff;
				    background-color: rgb(255, 0, 0);
				    cursor: pointer;
				}
			}

			.noWrap {
				white-space: nowrap;
			}

			.wrap {
				white-space: initial;
			}

			.userCom {
				white-space: nowrap;
			}

			.userCom + td + td {
				white-space: pre-line;

				text-align: initial;
			}

			.userCom + td + td + td {
				white-space: nowrap;
			}
		}

		tfoot {
			tr td {
				padding: 2rem 0 0;

				text-align: right;

				border: none;

				h2 {
					margin: -0.1rem 0 0.1rem;

					font-size: 1.9rem;

					strong {
						color: $colorLogo;
					}
				}
			}
		}
	}
}

/* PAGES AJOUTSLIDE.PHTML, MODIFSLIDE.PHTML, AJOUTIMAGE.PHTML, MODIFIMAGE.PHTML, 
AJOUTADMINISTRATEUR.PHTML, MODIFADMINISTRATEUR.PHTML, AJOUTUTILISATEUR.PHTML, MODIFUTILISATEUR.PHTML, 
 AJOUTPARTENAIRE.PHTML ET MODIFPARTENAIRE.PHTML */
/* MAIN CONTENT */
.containerAjout, .containerModif {
	min-height: 64.3rem;
	max-width: 50rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	h3 {
		margin: 0 0 4rem -1rem;

		font-weight: 100;
		text-align: center;

		color: $colorFont;

		i {
			height: 0;
			width: 4rem;

			color: $colorLogo;
		}
	}

	form {
		margin: -0.5rem 0 3.05rem;
		padding: 2.5rem 0.5rem 0.5rem;
		line-height: 1.5rem;

		font-weight: 100;
		text-align: center;

		color: $colorFont;
		border: 1px solid #d2d2d2;
		border-radius: 2px;

		div {
			position: relative;

			width: 40rem;
			margin: 0 auto;
			padding: 0.5rem 0;

			label {
				display: block;

				text-align: left;
			}

			i {
				float: right;

				margin: -1.4rem 0;

				font-size: 1.3rem;

				a {
					text-decoration: none;

					color: $colorFont;
					transition-duration: 0.1s;
				}

				a:hover {
				    color: $colorHover;
				}
			}

			span {
				display: block;
				margin: 1rem 0 0.5rem;
				line-height: 1.8rem;
				white-space: pre-line;

				font-size: 1.4rem;
				font-style: italic;
				text-align: left;

				u {
					text-decoration: underline $colorHover;
					text-underline-offset: 0.2rem;
				}

				a {
					text-decoration: none;

					color: $colorHover;
					transition-duration: 0.1s;
				}
			}

			input {
				height: 3.5rem;
				width: 40rem;
				margin: 0.8rem 0 1.5rem;
				padding: 0.5rem;

				color: $colorFont;
				border-radius: 2px;
				border: 1px solid #d2d2d2;
			}

			input::placeholder {
				font-size: 1.3rem;
				font-style: italic;

				color: rgb(255, 0, 0);
			}

			/* Pages administrateurs.phtml, modifadministrateur.phtml, ajoututilisateur.phtml et 
			modifutilisateur.phtml */
			.password + .changeType {
				position: absolute;
				top: 3.45rem;
				right: 0.5rem;

				height: 2.2rem;
				width: 3.2rem;

				text-indent: -999rem;

				background-color: #C0C0C0;
				border-radius: 50%;
				cursor: pointer;
				border: none;
				-webkit-appearance: none;
			}

			.password + .changeType:before {
				position: absolute;
				top: 0.4rem;
				left: 0.95rem;

				width: 1.4rem;
				height: 1.4rem;
				z-index: 1;

				content: "";
				background-color: #e3e3e3;
				border-radius: 50%;
			}

			.password[type="text"] + .changeType:after {
				position: absolute;
				top: 0.6rem;
				left: 1.15rem;

				width: 1rem;
				height: 1rem;
				z-index: 2;

				content: "";
				background-color: #C0C0C0;
				border-radius: 50%;
			}

			p {
				margin: 0.2rem 0 0.7rem;
				line-height: 2rem;

				color: rgb(255, 0, 0);
			}

			select {
				height: 3.5rem;
				width: 40rem;
				margin: 0.8rem 0 1.5rem;
				padding: 0.5rem;

				color: $colorFont;
				border-radius: 2px;
				border: 1px solid #d2d2d2;
			}

			// Pages ajoutadministrateur.phtml ligne 53 et modifadministrateur.phtml ligne 109
			.prv {
				height: 30rem;
			}

			textarea {
				width: 100%;
				margin: 1rem 0;
				padding: 0.5rem;

				color: $colorFont;
				border-radius: 2px;
				border: 1px solid #d2d2d2;
			}
		}

		.btn {
			display: block;
			height: 3.2rem;
			margin: 1rem auto 2.5rem;
			padding: 1rem 1.5rem;

			font-size: 1.1rem;
			text-transform: uppercase;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;
		}

		.btn:hover {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}

		.msg p {
			margin: -1.2rem 0 1.5rem;

			color: rgb(255, 0, 0);
		}
	}

	.formReset {
		margin: -0.5rem 0 -1rem;
		padding: 0;

		border: none;

		.btnReset {
			height: 3.2rem;
			margin: 0 auto 1.5rem;
			padding: 1rem;

			font-size: 1.1rem;
			text-transform: uppercase;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;

			i {
				margin-right: 0.5rem;
			}
		}

		.btnReset:hover {
			color: #ffffff;
		    background-color: rgb(255, 0, 0);
		    cursor: pointer;
		}

		div {
			width: initial;

			p {
				margin: -0.2rem 0 -0.6rem;

				color: rgb(255, 0, 0);
			}
		}
	}
}

/* PAGES PRODUITS.PHTML ET UTILISATEURS.PHTML */
/* MAIN CONTENT */
.containerProds, .containerUsers {
	min-height: 56.5rem;
	max-width: 150rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	text-align: center;

	h3:first-child {
		margin: 0 0 5rem -1rem;

		font-weight: 100;

		color: $colorFont;

		i {
			height: 4rem;
			width: 4rem;
			line-height: 4.1rem;

			color: $colorLogo;
		}
	}

	h3 + h3 {
		float: right;

		margin: -0.8rem 1rem 0 0;

		font-weight: 100;
		text-align: initial;

		a {
			padding: 1rem 1.4rem 1rem 0;

			font-size: 1.3rem;
			text-decoration: none;

			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;

			i {
				height: 4rem;
				width: 4rem;
				margin-right: -0.5rem;
				line-height: 4.1rem;

				text-align: center;
			}
		}
	}

	h3 + h3:hover {
		a {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}
	}

	.formLines {
		margin-bottom: 3rem;

		text-align: initial;
	}

	form + div {
		margin-bottom: 3rem;
	}

	.navigation {
    	margin: -1rem 0 3rem;

		.pageSuiv {
			float: right;
		}

		.pagePrec {
			float: left;
		}

		.liensPages {
			margin: 0.2rem;

			a {
				padding: 0.2rem 0.7rem 0.1rem;
			}
		}

		a {
			text-decoration: none;

			color: $colorFont;
			transition-duration: 0.1s;
		}

		a:hover {
			color: $colorHover;
		}
	}

	.tableScroll {
		position: relative;
		top: -1rem;

		margin-bottom: 2rem;
		overflow-x: auto;
	}

	.tableScroll + .navigation {
		margin: -1rem 0 3rem;
	}

	table {
		min-width: 149rem;

		border-collapse: collapse;

		tr th {
			padding: 2rem 1rem;

			font-weight: 1000;

			color: $colorFont;
			border: 1px solid #cccccc;

			form {
				.btnTri {
					background: none;
					border: none;
					cursor: pointer;

					.fa {
						display: initial;
						vertical-align: 0.5rem;

						font-size: 1.3rem;

						transition-duration: 0.15s;
					}

					.fa-long-arrow-down {
						margin-right: 0.2rem;
					}
				}

				.btnTri:hover .fa {
					color: $colorHover;
				}
			}
		}

		tr {
			td > i {
				white-space: nowrap;

				color: $colorHover;
			}

			td {
				padding: 2rem 1rem 1.7rem;
				white-space: nowrap;

				border: 1px solid #cccccc;

				a img {
					max-height: 20rem;
				}

				.btnModif, .btnAchat {
					display: block;
					height: 3rem;
					width: 10.8rem;
					margin: 0 auto;
					padding: 0.9rem 1rem 0;

					font-size: 1.1rem;
					text-transform: uppercase;
					text-decoration: none;
					
					color: #ffffff;
					background-color: #C0C0C0;
					border: none;
					border-radius: 3px;
					transition-duration: 0.2s;

					i {
						margin-right: 0.5rem;
					}
				}

				.btnModif:hover, .btnAchat:hover {
					color: #ffffff;
				    background-color: $colorHover;
				    cursor: pointer;
				}

				.btnAchat {
					margin-bottom: 2rem;
				}

				.displayForm {
					margin-top: -1.8rem;
				}

				.btnReset {
					height: 3rem;
					width: 10.8rem;
					margin: 2rem 0 0.4rem;
					padding: 0.1rem 1rem 0;

					font-size: 1.1rem;
					text-transform: uppercase;
					
					color: #ffffff;
					background-color: #C0C0C0;
					border: none;
					border-radius: 3px;
					transition-duration: 0.2s;

					i {
						margin-right: 0.5rem;
					}
				}

				.btnReset:hover {
					color: #ffffff;
				    background-color: rgb(255, 0, 0);
				    cursor: pointer;
				}

				.descript {
					white-space: initial;

					text-align: initial;
				}
			}

			.noWrap {
				white-space: nowrap;
			}

			.video {
				height: 15.35rem;
				width: 26.85rem;
				margin: 0 auto;

				border: 2px solid rgb(125, 125, 125);
			}

			iframe {
				height: 15.35rem;
				width: 26.85rem;
			}
		}
	}

	table + table {
		margin-top: 3rem;
	}
}

/* PAGES FICHEPRODUIT.PHTML */
.containerAchat {
	min-height: 56.5rem;
	max-width: 59rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	text-align: center;

	h3 {
		font-weight: 100;

		color: $colorFont;

		i {
			height: 4rem;
			width: 3.5rem;
			margin-left: -0.8rem;
			line-height: 4.1rem;

			text-align: center;

			color: $colorLogo;
		}
	}

	.imgProd {
		max-height: 40rem;
	}

	.tableScroll {
		position: relative;
		margin: 3rem 0 -3rem;
		overflow-x: auto;

		z-index: 0;
	}

	table:first-child th {
		white-space: nowrap;
	}

	table {
		min-width: 58rem;

		border-collapse: collapse;

		tr th {	
			padding: 2rem 1rem;

			font-weight: 1000;

			color: $colorFont;
			border: 1px solid #cccccc;
		}

		tr td {
			padding: 2rem 1rem;

			color: $colorFont;
			border: 1px solid #cccccc;

			form {
				margin-bottom: initial;
				padding: initial;
				line-height: 1.5rem;

				border: none;

				.btnReset {
					height: 3rem;
					min-width: 10.2rem;
					padding: 0.1rem 1rem 0;

					font-size: 1.1rem;
					text-transform: uppercase;
					
					color: #ffffff;
					background-color: #C0C0C0;
					border: none;
					border-radius: 3px;
					transition-duration: 0.2s;

					i {
						margin-right: 0.5rem;
					}
				}

				.btnReset:hover {
					color: #ffffff;
				    background-color: rgb(255, 0, 0);
				    cursor: pointer;
				}
			}
		}

		tfoot {
			tr td {
				padding: 2rem 0 0;

				text-align: right;

				border: none;

				h3 {
					margin: -0.1rem 0 2.4rem;
				}
			}
		}
	}

	h4 {
		margin-top: 4rem;

		i {
			width: 3.5rem;

			text-align: center;

			color: $colorLogo;
		}
	}

	form {
		margin-bottom: 3rem;
		padding: 2.5rem 0.5rem 0.5rem;
		line-height: 1.5rem;

		font-weight: 100;
		text-align: center;

		color: $colorFont;
		border: 1px solid #d2d2d2;
		border-radius: 2px;

		div {
			position: relative;

			width: 40rem;
			margin: 0 auto;
			padding: 0.5rem 0;

			label {
				display: block;

				text-align: left;
			}

			i {
				float: right;

				margin: -1.4rem 0;

				font-size: 1.3rem;

				a {
					text-decoration: none;

					color: $colorFont;
					transition-duration: 0.1s;
				}

				a:hover {
				    color: $colorHover;
				}
			}

			input {
				height: 3.5rem;
				width: 40rem;
				margin: 0.8rem 0 1.5rem;
				padding: 0.5rem;

				color: $colorFont;
				border-radius: 2px;
				border: 1px solid #d2d2d2;
			}

			p {
				margin: 0.2rem 0 0.7rem;
				line-height: 2rem;

				color: rgb(255, 0, 0);
			}
		}

		.btn {
			display: block;
			height: 3.2rem;
			margin: 1rem auto 2.5rem;
			padding: 1rem 1.5rem;

			font-size: 1.1rem;
			text-transform: uppercase;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 3px;
			transition-duration: 0.2s;
		}

		.btn:hover {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}

		.msg p {
			margin: -1.2rem 0 1.5rem;

			color: rgb(255, 0, 0);
		}
	}
}

/* PAGE DETAILCO.PHTML */
/* MAIN CONTENT */
.containerDetailcom {
	min-height: 56.5rem;
	max-width: 114rem;
	margin: 0 auto 3rem;
	padding: 0 0.5rem;

	.infosCom {
		float: right;
		
		margin: -2rem 0 1.5rem;

		p span {
			float: right;

			i {
				color: $colorHover;
			}
		}
	}

	.displayFct {
		float: left;
		position: relative;
		bottom: -9.1rem;

		.btnFct {
			padding: 1rem 1.2rem 1rem;

			font-size: 1.3rem;
			text-decoration: none;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border-radius: 3px;
			transition-duration: 0.2s;
		}

		.btnFct:hover {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}

		.btnFct::before {
			margin-right: 1rem;

			font-family: "FontAwesome";
			font-size: 1.3rem;

			content: "\F15B";
		}
	}

	.tableScroll {
		clear: right;

		margin-bottom: -1.4rem;
		overflow-x: auto;

		table {
			min-width: 113rem;
			margin: 0 auto;

			border-collapse: collapse;

			tr th, tr td {
				padding: 1.5rem;

				text-transform: uppercase;
				text-align: center;

				border: 1px solid #cccccc;

				a {
					font-weight: 100;
					text-decoration: none;

					color: $colorFont;
			    	transition-duration: 0.1s;
				}

				a:hover {
			    	color: $colorHover;
				}

				img {
					max-height: 13rem;
					margin: 0.7rem auto 0;
				}

				i {
					color: $colorHover;
				}
			}

			tfoot {
				tr td {
					padding: 2rem 0 0;

					text-transform: initial;
					text-align: right;

					border: none;

					h3 {
						margin: -0.1rem 0 2.4rem;
					}
				}
			}
		}
	}
}

/* PAGE FACTURE.PHTML */
/* MAIN CONTENT */
.containerFct {
	min-height: 56.5rem;
	max-width: 115rem;
	margin: 0 auto 3rem;

	.enteteFct {
		padding: 1.5rem 0 1rem;

		img {
			float: left;

			height: 6em;
			margin: -1.8rem 0 0 -0.9rem;
		}

		div {
			padding-top: 0.8rem;

			h3 {
				line-height: 1rem;

				text-align: right;
			}

			p {
				line-height: 0rem;

				text-align: right;
			}
		}
	}

	.infosFct {
		.adresseVendeur {
			float: left;

			address {
				white-space: pre-line;

				text-transform: uppercase;
			}
		}

		.infosCom {
			float: right;

			margin: -1.5rem 0 3rem;
			line-height: 1rem;

			p span {
				float: right;
			}
		}

		.adresseUser {
			clear: both;

			display: flex;
			justify-content: space-between;
			margin: 2rem 0 7rem;

			h4 {
				margin-bottom: 1.5rem;
			}

			address {
				white-space: pre-line;

				text-transform: uppercase;
			}
		}
	}

	.tableScroll {
		overflow-x: auto;

		table {
			width: 100%;

			border-collapse: collapse;

			thead tr th {
				width: 16%;
				padding: 1rem;

				text-align: left;

				border-collapse: collapse;
				border-top: 1px solid rgb(222, 226, 230);
				border-bottom: 2px solid rgb(222, 226, 230);
			}

			tbody tr td {
				padding: 1rem;

				border-top: 1px solid rgba(222, 226, 230, 0.8);
			}

			th:first-child {
				width: 50%;
			}

			tfoot {
				line-height: 4rem;

				text-align: right;

				tr:first-child td {
					padding-top: 5rem;
				}

				tr:last-child {
					line-height: 2rem;

					td:first-child {
						padding-bottom: 0;

						text-align: left;

						small {
							font-size: 1.3rem;
						}
					}

					h3 {
						margin-top: 1rem;
					}
				}
			}
		}
	}

	.printFct {
		margin: 5rem 0 3rem;

		text-align: right;

		.btnPrint {
			padding: 1rem 1rem 0.9rem;

			font-size: 1.2rem;
			text-transform: uppercase;
			
			color: #ffffff;
			background-color: #C0C0C0;
			border: none;
			border-radius: 15px;
			transition-duration: 0.2s;
		}

		.btnPrint:hover {
			color: #ffffff;
		    background-color: $colorHover;
		    cursor: pointer;
		}

		.btnPrint::before {
			margin-right: 0.5rem;

			font-family: "FontAwesome";
			font-size: 1.3rem;

			content: "\F02F";
		}
	}
}

@media print {
    .noPrint {
        display: none;
    }
}

.unauthorized, .erreurHeader {
	padding: 13.5rem 0 17.1rem;

	text-align: center;

	img {
		max-height: 15rem;
		vertical-align: middle;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 400;
	}
}

.backLink {
	width: 100%;
	margin: 2rem 0 1rem;

	font-size: 1.6rem;
	text-align: center;

	a {
		text-decoration: none;

		color: $colorFont;
		transition-duration: 0.1s;

		i {
			font-size: 1.8rem;
		}
	}

	a:hover {
		color: $colorHover;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////

/* Media queries qui s'appliquent aux écrans dont la zone d'affichage est comprise entre 601 
et 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
	/* PAGE INDEX.PHTML */
	/* MAIN CONTENT */
	.containerLogin {
		min-height: initial;
		margin: 3rem auto 3rem;

		form {
			margin-bottom: 3rem;
		}
	}

	/* PAGE-INTROUVABLE.HTML */
	/* BREADCRUMB */
	.filAriane {
		padding: 0.5rem 0 3rem 1.5rem;

		ul {
			.titreFilLarge {
				display: none;
			}

			.titreFil600 {
				display: initial;
			}
		}
	}

	/* MAIN CONTENT */
	.containerErreur404 {
		min-height: initial;

		div:first-child {
			padding: 1.5rem 0;

			h2 {
				font-size: 2.3rem;
			}
		}
	}

	/* PAGE LAYOUT.PHTML */
	/* TOPBAR */
	.topBar {
		padding: 0 0.5rem;

		.topbarContenu {
			.logo {
				flex-grow: 0.8;
			}

			.displayAdmin ul li:first-child, li:first-child + li {
				display: none;
			}
		}
	}

	/* HEADER */
	.headerLayout nav ul li {
		a {
			padding: 2rem 1.92rem;
		}

		.menu {
			max-height: 30rem;
			padding-bottom: initial;
			overflow: auto;

			.sousMenu {
				width: 40%;
			}

			.menuUsers {
				padding-bottom: 3rem;
			}

			.sousMenu:last-child {
				padding-bottom: 3rem;
			}
		}
	}

	/* PAGE TABLEAU-DE-BORD.PHTML */
	/* MAIN CONTENT */
	.containerDashboard {
		grid-template-rows: 10rem 11rem 11rem;
		grid-template-columns: auto 27rem 0 27rem auto;
		min-height: initial;

		h2 {
			grid-area: 1 / 2 / 1 / 4;
	    	margin-top: 2rem;
		}

		.dashboardBox1, .dashboardBox2, .dashboardBox3, .dashboardBox4, .dashboardBox5, .dashboardBox6 {
			a .dashboardInfos {
				margin-top: 1rem;
				margin-bottom: 0.8rem;

				h4 {
					margin-bottom: 1.8rem;
				}
			}
		}

		.dashboardBox1 {
			grid-area: 2 / 2 / 2 / 2;
		}

		.dashboardBox2 {
			grid-area: 2 / 4 / 2 / 4;
		}

		.dashboardBox3 {
			grid-area: 3 / 2 / 3 / 2;
		}

		.dashboardBox4 {
			grid-area: 3 / 4 / 3 / 4;
		}

		.dashboardBox5 {
			grid-area: 4 / 2 / 4 / 2;
		}

		.dashboardBox6 {
			grid-area: 4 / 4 / 4 / 4;
		}
	}

	/* PAGE CATEGORIES.PHTML */
	/* MAIN CONTENT */
	.containerCats {
		min-height: initial;
		max-width: 59rem;

		h3 + h3 {
			margin: -0.8rem 1rem 2rem 0;

			a {
				padding: 0.8rem 1rem 0.8rem 0;

				i {
					margin: 0 -0.3rem 0;
				}
			}
		}

		table {
			min-width: 58rem;

			tr th, tr td {
				padding: 1.5rem 2rem;

				font-size: 1.3rem;
			}
		}

		.navigation {
			div + span {
				display: block;
				margin-bottom: 1.5rem;
			}
		}
	}

	/* PAGES AJOUTCAT.PHTML ET MODIFCAT.PHTML */
	/* MAIN CONTENT */
	.containerAjoutCat, .containerModifCat {
		min-height: initial;
	}

	/* PAGES SLIDER.PHTML, IMAGES.PHTML, ACHATS-MAGASIN.PHTML, VENTES.PHTML, ADMINISTRATEURS.PHTML, 
	COMMANDES-CLIENTS.PHTML, RECHERCHES.PHTML ET PARTENAIRES.PHTML */
	/* MAIN CONTENT */
	.containerListe {
		min-height: initial;
		max-width: 60rem;

		h3 + h3 {
			margin: -0.8rem 1rem 2rem 0;

			a {
				padding: 0.8rem 1rem 0.8rem 0;

				i {
					margin: 0 -0.3rem 0;
				}
			}
		}

		table {
			min-width: 59rem;

			font-size: 1.3rem;

			tr th {
				padding: 1.5rem 0.5rem;

				form .btnTri {
					span {
						padding-right: 1.5rem
					}
					
					.tableHeader {
						display: none;
					}

					.tblHeader300600 {
						display: initial;
					}
				}
			}

 			tr {
 				td {
					padding: 1.5rem 1rem;

					a img {
						max-height: 15rem;
						max-width: 15rem;
					}

					.btnModif i, .btnDetails i {
						display: none;
					}

					.displayForm {
						margin-bottom: -2rem;
					}

					.btnReset {
						margin-top: 2rem;

						i {
							display: none;
						}
					}
				}

				.userCom + td + td {
					white-space: pre;
				}
			}

			tfoot {
				tr td {
					text-align: initial;

					h2 {
						margin: -0.1rem 0 2.4rem;
					}
				}
			}
		}

		.navigation {
			div + span {
				display: block;
				margin-bottom: 1.5rem;
			}
		}
	}

	/* PAGES AJOUTSLIDE.PHTML, MODIFSLIDE.PHTML, AJOUTIMAGE.PHTML, MODIFIMAGE.PHTML, 
	AJOUTADMINISTRATEUR.PHTML, MODIFADMINISTRATEUR.PHTML, AJOUTUTILISATEUR.PHTML, 
	MODIFUTILISATEUR.PHTML, AJOUTPARTENAIRE.PHTML ET MODIFPARTENAIRE.PHTML */
	/* MAIN CONTENT */
	.containerAjout, .containerModif {
		min-height: initial;
	}

	/* PAGES PRODUITS.PHTML ET UTILISATEURS.PHTML */
	/* MAIN CONTENT */
	.containerProds, .containerUsers {
		min-height: initial;
		max-width: 101rem;

		h3 + h3 a {
			padding: 0.8rem 1rem 0.8rem 0;

			i {
				margin: 0 -0.3rem 0;
			}
		}

		.navigation {
			div + span {
				display: block;
				margin: -0.5rem 0 1.5rem;
			}
		}

		table {
			min-width: 100rem;

			font-size: 1.3rem;

			tr th {
				padding: 1.5rem 0.5rem;
			}

 			tr td {
				padding: 1.5rem 1rem;
				white-space: initial;

				a img {
					max-height: 15rem;
				}

				.btnModif i {
					display: none;
				}

				.displayForm {
					margin-top: -2rem;
				}

				.btnReset {
					margin-top: 2rem;

					i {
						display: none;
					}
				}
			}
		}
	}

	/* PAGES FICHEPRODUIT.PHTML */
	/* MAIN CONTENT */
	.containerAchat {
		min-height: initial;
	}

	/* PAGE DETAILCO.PHTML */
	/* MAIN CONTENT */
	.containerDetailcom {
		min-height: initial;
		max-width: 60rem;

		.infosCom {
			margin: -2rem 1rem 1.5rem 0;
		}

		.tableScroll table {
			min-width: 59rem;

			tr th, tr td {
				padding: 0.5rem;

				font-size: 1.2rem;

				img {
					max-height: 9rem;
				}
			}
		}
	}

	/* PAGE FACTURE.PHTML */
	/* MAIN CONTENT */
	.containerFct {
		min-height: initial;
		padding:0 1rem;
	}

	.unauthorized, .erreurHeader {
		padding: 5rem 0;

		h2 {
			font-size: 2.3rem;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////

/* Media queries qui s'appliquent aux écrans dont la zone d'affichage est comprise entre 300 
et 600px */
@media screen and (min-width: 300px) and (max-width: 600px) {
	/* PAGE INDEX.PHTML */
	/* HEADER */
	header .logo a img {
		max-width: 30rem;
	}

	/* MAIN CONTENT */
	.containerLogin {
		min-height: initial;
		max-width: 31.5rem;
		margin: -1rem auto 2.5rem;
		padding: 0;

		form {
			margin-bottom: 2.5rem;
			padding: 1.2rem 0 1.4rem;

			ul li {
				input {
					width: 23rem;
				}

				.password + .changeType {
		  			right: 4rem;
				}

				.g-recaptcha {
					margin: 1rem 0 1rem 0.1rem;
				}
			}
		}
	}

	/* FOOTER */
	footer {
		padding-bottom: 1.1rem;

		font-size: 1.3rem;

		.mentionsLegales {
			margin: 0;
			line-height: 1.5rem;

			p {
				margin: 0.5rem;
			}
		}
	}

	/* PAGE-INTROUVABLE.HTML */
	/* BREADCRUMB */
	.filAriane {
		padding: 0.5rem 0 2rem 0;

		ul {
			li {
				top: -0.5rem;
				left: -1.5rem;
			}

			.titreFil, .titreFilLarge {
				display: none;
			}

			.titreFil300 {
				display: initial;
			}
		}
	}

	/* MAIN CONTENT */
	.containerErreur404 {
		min-height: initial;
		margin-bottom: 2.5rem;

		div:first-child {
			padding: 5rem 0;

			h2 {
				font-size: 2rem;
			}
		}
	}

	/* PAGE LAYOUT.PHTML */
	/* TOPBAR */
	.topBar {
		height: 10.4rem;
		padding: 0 0.5rem;

		.topbarContenu {
			display: grid;
			grid-template-rows: 3rem 3rem 3rem;
			grid-template-columns: auto;

			.logo {
				display: initial;
				grid-area: 1 / 2 / 1 / 2;
			}

			.recherche {
				grid-area: 3 / 2 / 3 / 2;
			}

			.displayAdmin {
				grid-area: 2 / 2 / 2 / 2;

				text-align: center;
			}
		}
	}

	/* HEADER */
	.headerLayout nav {
		ul li {
			a {
				padding: 1rem 1.05rem;
			}

			.menu {
				max-height: 20rem;
				padding-bottom: initial;
				overflow: auto;

				.sousMenu {
					width: 100%;

					h2 {
						padding: 2.5rem 0 1rem;

						font-size: 1.4rem;
					}

					ul li a {
						font-size: 1.3rem;
					}
				}

				.sousMenu:last-child {
					padding-bottom: 2.5rem;
				}
			}
		}
	}

	/* PAGE TABLEAU-DE-BORD.PHTML */
	/* MAIN CONTENT */
	.containerDashboard {
		grid-template-rows: 7rem 11rem 11rem 11rem 11rem;
		grid-template-columns: auto auto auto auto auto;
		min-height: initial;

		h2 {
			grid-area: 1 / 3 / 1 / 3;
	    	margin-top: 0.5rem;

			font-size: 2.2rem;
		}

		.dashboardBox1, .dashboardBox2, .dashboardBox3, .dashboardBox4, .dashboardBox5, .dashboardBox6 {
			a .dashboardInfos {
				margin-top: 1rem;
				margin-bottom: 1.5rem;

				h4 {
					margin-bottom: 1.8rem;
				}
			}
		}

		.dashboardBox1 {
			grid-area: 2 / 3 / 2 / 3;
		}

		.dashboardBox2 {
			grid-area: 3 / 3 / 3 / 3;
		}

		.dashboardBox3 {
			grid-area: 4 / 3 / 4 / 3;
		}

		.dashboardBox4 {
			grid-area: 5 / 3 / 5 / 3;
		}

		.dashboardBox5 {
			grid-area: 6 / 3 / 6 / 3;
		}

		.dashboardBox6 {
			grid-area: 7 / 3 / 7 / 3;
		}
	}

	/* PAGE CATEGORIES.PHTML */
	/* MAIN CONTENT */
	.containerCats {
		min-height: initial;
		max-width: 42rem;
		margin-bottom: 2.5rem;

		h3:first-child {
			margin: -1rem 0 2.5rem -1.5rem;

			text-align: center;
		}

		h3 + h3 {
			float: initial;

			margin: -0.8rem 0 2rem;

			text-align: center;

			a {
				padding: 0.7rem 0.8rem 0.7rem 0;

				font-size: 1.3rem;

				i {
					margin: 0 -0.5rem 0;
				}
			}
		}

		.formLines {
			text-align: center;
		}

		.navigation {
			div + span {
				display: block;
				margin: -2rem 0 1.5rem;
			}

			.liensPages {
				margin: 0;

				a {
					padding: 0.1rem 0.4rem;
				}
			}
		}

		.tableScroll {
			margin-bottom: 1.5rem;
		}

		.tableScroll + .navigation {
			margin-bottom: 2.5rem;
		}

		table {
			min-width: 41rem;

			tr th, tr td {
				padding: 1.5rem 1rem;

				font-size: 1.1rem;

				form .btnTri span {
					padding-right: 1.5rem
				}
			}

			tr td:last-child {
				.btnModif, .btnReset {
					display: inline;
					width: initial;
					padding: 1rem;
					line-height: 1.5rem;

					color: $colorFont;
					background-color: initial;

					i {
						display: none;
					}
				}

				.btnModif:hover, .btnReset:hover {
					color: $colorHover;
				    background-color: initial;
				}
			}
		}
	}

	/* PAGES AJOUTCAT.PHTML ET MODIFCAT.PHTML */
	/* MAIN CONTENT */
	.containerAjoutCat, .containerModifCat {
		min-height: initial;
		margin-bottom: 2.5rem;

		h3 {
			font-size: 1.6rem;
			font-weight: 500;
		}

		form {
			margin-bottom: 2.55rem;
		}
	}

	/* PAGES SLIDER.PHTML, IMAGES.PHTML, ACHATS-MAGASIN.PHTML, VENTES.PHTML, ADMINISTRATEURS.PHTML, 
	COMMANDES-CLIENTS.PHTML, RECHERCHES.PHTML ET PARTENAIRES.PHTML */
	/* MAIN CONTENT */
	.containerListe {
		min-height: initial;
		max-width: 54rem;
		margin-bottom: 2.5rem;

		h3:first-child {
			margin: -1rem 0 2.5rem -1.5rem;

			text-align: center;
		}

		h3 + h3 {
			float: initial;

			margin: -0.8rem 0 2rem;

			text-align: center;

			a {
				padding: 0.7rem 0.8rem 0.7rem 0;

				font-size: 1.3rem;

				i {
					margin: 0 -0.5rem 0;
				}
			}
		}

		.formLines {
			text-align: center;
		}

		.navigation {
			div + span {
				display: block;
				margin: -2rem 0 1.5rem;
			}

			.liensPages {
				margin: 0;

				a {
					padding: 0.1rem 0.4rem;
				}
			}
		}

		.tableScroll {
			margin-bottom: 1.5rem;
		}

		.tableScroll + .navigation {
			margin-bottom: 2.5rem;
		}

		table {
			min-width: 53rem;

			font-size: 1.1rem;

			tr th {
				padding: 1.5rem 0.5rem;

				form .btnTri {
					span {
						padding-right: 1rem
					}
					
					.tableHeader {
						display: none;
					}

					.tblHeader300600 {
						display: initial;
					}
				}
			}

			tr {
				td {
					padding: 1.5rem 1rem;

					a img {
						max-height: 12rem;
						max-width: 12rem;
					}

					.btnModif, .btnDetails, .btnReset {
						display: inline;
						padding: 1rem 0;
						line-height: 1.5rem;

						color: $colorFont;
						background-color: initial;

						i {
							display: none;
						}
					}

					.btnModif:hover, .btnDetails:hover, .btnReset:hover {
						color: $colorHover;
					    background-color: initial;
					}

					.btnReset {
						margin-top: 1rem;
					}

					.displayForm {
						margin-bottom: -1.5rem;
					}
				}

				.userCom + td + td {
					white-space: pre;
				}
			}

			tfoot {
				tr td {
					text-align: initial;

					h2 {
						margin: -0.1rem 0 2.4rem;

						font-size: 1.6rem;
						font-weight: 500;
					}
				}
			}
		}
	}

	/* PAGES AJOUTSLIDE.PHTML, MODIFSLIDE.PHTML, AJOUTIMAGE.PHTML, MODIFIMAGE.PHTML, 
	AJOUTADMINISTRATEUR.PHTML, MODIFADMINISTRATEUR.PHTML, AJOUTUTILISATEUR.PHTML, 
	MODIFUTILISATEUR.PHTML, AJOUTPARTENAIRE.PHTML ET MODIFPARTENAIRE.PHTML */
	/* MAIN CONTENT */
	.containerAjout, .containerModif {
		min-height: initial;
		margin-bottom: 2.5rem;

		h3 {
			font-size: 1.6rem;
			font-weight: 500;
		}

		form {
			margin-bottom: 2.55rem;

			div {
				width: 27rem;

				i {
					margin: 0.5rem 0 0;
				}

				input {
					width: 27rem;
				}

				select {
					width: 27rem;
				}
			}
		}
	}

	/* PAGES PRODUITS.PHTML ET UTILISATEURS.PHTML */
	/* MAIN CONTENT */
	.containerProds, .containerUsers {
		min-height: initial;
		max-width: 88rem;
		margin-bottom: 2.5rem;

		h3:first-child {
			margin: -1rem 0 2.5rem -1.5rem;

			text-align: center;
		}

		h3 + h3 {
			float: initial;

			margin: -0.8rem 0 2rem;

			text-align: center;

			a {
				padding: 0.7rem 0.8rem 0.7rem 0;

				font-size: 1.3rem;

				i {
					margin: 0 -0.5rem 0;
				}
			}
		}

		.formLines {
			text-align: center;
		}

		.navigation {
			div + span {
				display: block;
				margin: -0.5rem 0 1.5rem;
			}

			.liensPages {
				margin: 0;

				a {
					padding: 0.1rem 0.4rem;
				}
			}
		}

		.tableScroll {
			margin-bottom: 1.5rem;
		}

		.tableScroll + .navigation {
			margin-bottom: 2.5rem;
		}

		table {
			min-width: 87rem;

			font-size: 1.1rem;

			tr th {
				padding: 1.5rem 0.5rem;
			}

			tr {
				td {
					padding: 1.5rem 1rem;
					white-space: initial;

					a img {
						max-height: 12rem;
					}

					.btnModif, .btnAchat, .btnReset {
						padding: 1rem 0;
						line-height: 1.5rem;

						color: $colorFont;
						background-color: initial;

						i {
							display: none;
						}
					}

					.btnModif:hover, .btnAchat:hover, .btnReset:hover {
						color: $colorHover;
					    background-color: initial;
					}

					.btnAchat {
						margin-bottom: initial;
					}

					.displayForm {
						margin-top: initial;
					}

					.btnReset {
						margin-top: initial;
					}
				}

				.descript {
					max-height: 20rem;
					width: 29.5rem;
					padding: 1rem 0 1rem 0.5rem;
					overflow: auto;

					text-align: initial;
				}

				.video {
					height: 11.75rem;
					width: 20.45rem;

					video {
						height: 11.45rem;
						width: 20rem;
					}
				}

				iframe {
					height: 11.45rem;
					width: 20rem;
				}
			}
		}
	}

	/* PAGES FICHEPRODUIT.PHTML */
	.containerAchat {
		min-height: initial;
		max-width: 44.5rem;
		margin-bottom: 2.5rem;

		h3 {
			font-size: 1.6rem;
			font-weight: 500;

			i {
				height: 2.3rem;
				margin-left: -1.3rem;
				line-height: 2.1rem;
			}
		}

		.imgProd {
			max-height: 30rem;
		}

		.tableScroll {
			margin-top: 0;
		}

		table:first-child {
			min-width: 29rem;
		}

		table {
			min-width: 46rem;

			margin: 2rem auto 0;

			font-size: 1.3rem;

			tr th {
				padding: 1.5rem 1rem;
			}

			tr td {
				padding: 1.5rem 1rem;

				a img {
					max-height: 12rem;
					max-width: 12rem;
				}

				.btnModif, .btnReset {
					display: inline;
					padding: 1rem 0;
					line-height: 1.5rem;

					color: $colorFont;
					background-color: initial;

					i {
						display: none;
					}
				}

				.btnModif:hover, .btnReset:hover {
					color: $colorHover;
				    background-color: initial;
				}

				.btnReset {
					margin-top: 1rem;
				}
			}

			tfoot tr td {
				text-align: center;

				h3 {
					margin-bottom: 1.4rem;
				}
			}
		}

		table + h4 {
			margin: 3.5rem 0 -1rem;

			font-weight: 500;
		}

		h4 {
			margin-top: 5rem;

			font-weight: 500;
		}

		form {
			margin: -1rem 0 2.5rem;

			div {
				width: 27rem;

				i {
					margin: 0.5rem 0 0;
				}

				input {
					width: 27rem;
				}
			}
		}
	}

	/* PAGE DETAILCO.PHTML */
	/* MAIN CONTENT */
	.containerDetailcom {
		min-height: initial;
		max-width: 55rem;
		margin-bottom: 2.5rem;

		.infosCom {
			float: initial;

			margin: -0.5rem 0 -0.2rem;

			font-size: 1.3rem;

			p span {
				float: none;
			}
		}

		.displayFct {
			bottom: -2.3rem;
			float: initial;

			width: 100%;
			margin-bottom: 5rem;

			.btnFct {
				padding: 0.7rem 0.8rem 0.7rem;

				font-size: 1.3rem;
			}

			.btnFct::before {
				margin-right: 0.5rem;
			}
		}

		.tableScroll {
			clear: left;

			margin-bottom: initial;

			table {
				min-width: 54rem;

				tr th, tr td {
					min-width: initial;
					max-width: 13rem;
					padding: 0.5rem;

					font-size: 1.1rem;

					img {
						max-height: 9rem;
					}
				}

				tfoot tr td {
					text-align: center;

					font-size: 1.3rem;

					h3 {
						margin: -0.1rem 0 1.4rem;
					}
				}
			}
		}
	}

	/* PAGE FACTURE.PHTML */
	/* MAIN CONTENT */
	.containerFct {
		min-height: initial;
		margin-bottom: 2.5rem;

		font-size: 1.3rem;

		.enteteFct {
			img {
				margin-bottom: 0.5rem;
			}

			div h3 {
				margin-top: 0.9rem;
			}
		}

		.infosFct {
			.adresseVendeur {
				clear: left;

				margin-bottom: 3rem;
			}

			.infosCom {
				margin: -1rem 0 0.5rem;
			}

			.adresseUser {
				margin-bottom: 4rem;
			}
		}

		.tableScroll table tfoot {
			tr:first-child td {
				padding-top: 2rem;
			}

			tr:last-child td:first-child {
				padding-bottom: 1rem;
			}
		}

		.printFct {
			margin: 3rem 0 2.5rem;
		}
	}

	.unauthorized, .erreurHeader {
		padding: 2.5rem 0;

		h2 {
			font-size: 2rem;
		}
	}

	.backLink {
		margin: 1.5rem 0 0.5rem;
	}
}